<!DOCTYPE html>
<html>

<link rel="stylesheet"  href="{{site.github.repository_url}}/blob/master/css/bootstrap.css">
<link rel="stylesheet"  href="{{site.github.repository_url}}/blob/master/css/develop.css">
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  </body>

<script  src="{{site.github.repository_url}}/blob/master/js/jquery.min.js"></script>
<script  src="{{site.github.repository_url}}/blob/master/js/bootstrap.min.js"></script>
</html>
